<li class="hentry direct_message u-<%= h user.username %>" id="direct_message_<%= h direct.id %>">
    <span class="thumb vcard author"><a href="/<%= h user.username %>" class="url"><img alt="<%= h user.name %>" class="photo fn" height="48" src="<%= h user.web_profile_url %>" width="48"/></a></span><span class="status-body"><strong><a href="/<%= h user.username %>" class="screen-name" title="<%= h user.name %>"><%= h user.username %></a></strong><span class="entry-content"><%= link_users(direct.tweet) %></span><span class="meta entry-meta"><span class="published"><%= direct.created_at_formatted %></span>  </span></span><span class="actions"><div>
    <a class="del" title="delete this direct message">&nbsp;&nbsp;</a><a class="reply" href="#" title="reply to <%= h user.name %>">&nbsp;&nbsp;</a>
</div></span></li>
