<li class="hentry direct_message u-<%= h direct.user.username %>" id="direct_message_<%= h direct.id %>">
    <span class="thumb vcard author"><a href="/<%= h direct.user.username %>" class="url"><img alt="<%= h direct.user.name %>" class="photo fn" height="48" src="<%= h direct.user.web_profile_url %>" width="48"/></a></span><span class="status-body"><strong><a href="/<%= h direct.user.username %>" class="screen-name" title="<%= h direct.user.name %>"><%= h direct.user.username %></a></strong><span class="entry-content"><%= h direct.tweet %></span><span class="meta entry-meta"><span class="published"><%= direct.created_at_formatted %></span>  </span></span><span class="actions"><div>
    <a class="del" title="delete this direct message">&nbsp;&nbsp;</a><a class="reply" href="#" title="reply to <%= h direct.user.name %>">&nbsp;&nbsp;</a>
</div></span></li>
