<% setup(:title=>"Search", :body_id=>"replies", :body_classes=>"status replyable", :css=>['timeline']) %>
<%= render :partial => "statuses/search" %>

<%if !@search_query.nil? && @search_query.length > 0 %>
    <h2 class="timeline-header">Search Results</h2>
    <%if @tweets.length > 0 %>

        <h3 class="timeline-subheader">Updates containing: '<%= @search_query %>'</h3>
        <%if @max_results %>
            <h3 class="timeline-subheader"><em>Note: Results capped at <%=@max_results %> updates.</em></h3>
        <% end %>

        <%= render :partial => "statuses/tweets" %>
    <% else %>
        <h3 class="timeline-subheader">No updates found containing '<%= @search_query %>'</h3>
    <% end %>
<% end %>
<%= render :partial => "statuses/sidebar" %>
