<% setup(:title=>@duser.username, :body_id=>"profile", :css=>['timeline']) %>
<div class="profile-head">
    <h2 class="thumb clearfix">
        <!-- <img alt="Default_profile_bigger" height="73" src="/images/default_profile_bigger.png" width="73" /> -->
        <%= link_to(image_tag(@duser.web_profile_url(:full), :size=>"73x73"), :controller=>'account', :action=>'profile_image', :id=>@duser.username) %>
        <%= @duser.username %>
    </h2>

    <div class="clear"></div>
    <div id="follow_actions_<%= @duser.id %>" class="follow-actions <%= @duser.username %>">
        <% if (@duser != @user) %>
            <div class="follow-control">
                <div id="follow-toggle" class="closed med-btn">

                    <img class="ticon" src="/images/tiny_check.gif" alt="following" class="followicon"/><strong>Following</strong>&nbsp;
                </div>

                <div id="follow-details">
                    <p id="following">
                        <strong>You follow <%= h @duser.username %></strong>
                        <input type="button" id="remove_button" class="remove-button" value="Remove"/>
                        <br/>
                                <span class="desc"><%= h @duser.username %>
                                    's updates appear in your <a href="/home">timeline</a>.</span>
                    </p>

                    <div id="notifications">
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="hentry">
    </div>
</div>

<div class="section">

    <ol class="statuses" id="timeline">
        <%= render :partial=>'statuses/tweet', :collection=>@tweets, :locals=>{:type=>'mine'} %>
    </ol>
    <!--<div class="bottom-nav">-->
        <!--<div id="pagination" class="pagination">-->
            <!--<a href="/paul_okeeffe?page=2" class="section_links" rel="prev">Older &#187;</a>-->
        <!--</div>-->
    <!--</div>-->
</div>

<%= render :partial=>'user/sidebar' %>

<% content_for :javascript do %>
    <script type="text/javascript">
        //<![CDATA[

                $( function () {
                        $('body#profile ul#tabMenu li a#updates_tab, body#favourings ul#tabMenu li a#favorites_tab').isSidebarTab();

                        });

                //]]>
    </script>
<% end %>