<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="en-us" http-equiv="Content-Language"/>
    <meta content="Twetter is a free social messaging utility for staying connected in real-time" name="description"/>
    <meta content="no" http-equiv="imagetoolbar"/>
    <meta content="width => 780" name="viewport"/>
    <meta content="4FTTxY4uvo0RZTMQqIyhh18HsepyJOctQ+XTOu1zsfE=" name="verify-v1"/>
    <meta content="1" name="page"/>
    <meta content="IE=EmulateIE7" name="X-UA-Compatible"/>
    <meta content="<%= @user ? "y" : "n" %>" name="session-loggedin"/>
    <% if (@refresh) %>
        <meta http-equiv="refresh" content="<%= @refresh %>"/>
    <% end %>
    <% if (@user) %>
        <meta content="<%= @user.id %>" name="session-userid"/>
        <meta content="<%= @user.username %>" name="session-user-screen_name"/>
    <% end %>
    <% if (@user || @duser) %>
        <meta content="<%= (@duser || @user).username %>" name="page-user-screen_name"/>
    <% end %>
    <title><%= @title %></title>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <% @css.each do |css| %>
        <%= stylesheet_link_tag css %>
    <% end %>
    <%= stylesheet_link_tag 'master' %>

    <style type="text/css">

        body { background: #9ae4e8 url(/images/bg.gif) fixed no-repeat top left; }
                .content-bubble-arrow { background-image: url(/images/arr2.gif); }
                .status-btn input.round-btn { background-image: url('/images/round-btn.gif'); }
                .status-btn input.round-btn:hover { background-image: url('/images/round-btn-hover.gif'); }
                .status-btn input.disabled, .status-btn input.disabled:hover { background-image: url('/images/round-btn.gif'); }
                .hentry .actions .fav { background-image: url('/images/icon_star_full.gif'); }
                .hentry .actions .non-fav { background-image: url('/images/icon_star_empty.gif'); }
                .hentry .actions .fav-throb, .hentry .actions a.del-throb { background-image: url('/images/icon_throbber.gif'); }
                .hentry .actions .del { background-image: url('/images/icon_trash.gif'); }
                body#show .reply, .hentry .actions .reply { background-image: url('/images/icon_reply.gif'); }
                .direct_message .actions .reply { background-image: url('/images/icon_direct_reply.gif'); }
                .direct_message .actions .del { background-image: url('/images/icon_trash.gif'); }
                .notify { background-image: url('/images/girl.gif'); }
                .promotion, ul#tabMenu a#keyword_search_tab.hover, ul#tabMenu a:hover { background-image: url('/images/pale.png'); background-color: transparent; }
                div#follow-toggle.closed { background-image: url('/images/toggle_closed.gif'); }
                div#follow-toggle.opened { background-image: url('/images/toggle_opened.gif'); }
                .follow-actions .following { background-image: url('/images/checkmark.gif'); }
                .loading { background-image: url('/images/loader.gif'); }
                body#show .protected { background-image: url('/images/icon_lock.gif'); }
                #side .promotion { background-image: url('/images/pale.png'); }
                .rss { background-image: url('/images/rss.gif'); }
                #flash { background-image: url('/images/girl.gif'); }
    </style>
</head>

<body class="<%= @body_classes %>" id="<%= @body_id %>">
<div id="dim-screen"></div>
<ul id="accessibility">
    <li>On a mobile phone? Check out <a href="http://m.twitter.com/">m.twitter.com</a>!</li>
    <li><a href="#footer" accesskey="2">Skip to navigation</a></li>
    <li><a href="#tabMenu" accesskey="3">Jump to the sidebar</a></li>
    <li><a href="#signin">Skip to sign in form</a></li>

</ul>


<div id="container" class="subpage">
    <span id="loader" style="display:none"><img alt="Loader" src="/images/loader.gif"/></span>

    <h1 id="header">
        <a href="/home" title="Twetter: home" accesskey="1" id="logo">

            <img alt="Twetter.com" height="29" src="/images/twitter_logo_s.png" width="125"/>

        </a>
    </h1>


    <% if flash[:notice] || flash[:error] %>
        <div id="flash">
            <div class="content-bubble-arrow">
                <p class="round"><%= flash[:notice] %><%= flash[:error] %></p>
            </div>
        </div>
    <% else %>
        <div id="flash" style="display:none;"></div>
    <% end %>
    <div class="content-bubble-arrow"></div>

    <table cellspacing="0" class="columns">
        <tbody>
        <tr>
            <td id="content" class="column">
                <div class="wrapper">
                    <%= yield %>
                    <img alt="Icon_star_full" src="/images/icon_star_full.gif" style="display:none;"/>

                </div>
            </td>

            <% if yield(:sidebar) %>
                <td id="side_base" class="column round-right">
                    <div id="side">
                        <%= yield :sidebar %>
                    </div>
                    <hr/>

                </td>
            <% end %>

        </tr>
        </tbody>
    </table>

    <div id="footer" class="round">
        <h3>Footer</h3>

        <ul>
            <li class="first">&copy; 2009 Twetter</li>

            <li><a href="/about#about">About Us</a></li>
            <li><a href="/about#contact">Contact</a></li>
            <!--<li><a href="http://blog.twitter.com">Blog</a></li>-->
            <!--<li><a href="http://status.twitter.com">Status</a></li>-->
            <!--<li><a href="/downloads">Apps</a></li>-->
            <!--<li><a href="http://apiwiki.twitter.com/">API</a></li>-->

            <!--<li><a href="http://search.twitter.com">Search</a></li>-->
            <!--<li><a href="http://help.twitter.com">Help</a></li>-->
            <!--<li><a href="/jobs">Jobs</a></li>-->
            <!--<li><a href="/terms">Terms</a></li>-->
            <!--<li><a href="/privacy">Privacy</a></li>-->
        </ul>
    </div>


    <hr/>


    <style>

        #header {
                text-align: left;
                margin: 8px 0 0 0;
                }

                #navigation {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 1.5em;
                        font-size: 105%;
                        text-align: right;
                        white-space: nowrap;
                        }

                #navigation ul {
                        display: block;
                        float: right;
                        background: #FFF;
                        padding: 7px 6px 7px 3px;
                        }

                .top-nav li {
                        display: inline;
                        margin-left: 6px;
                        }

                .top-nav li.last {
                        margin-right: 6px;
                        }

                .top-nav li.signup-link {
                        margin: 0 3px;
                        }

    </style>

    <% if (current_user) %>
        <div id="navigation">
            <ul class="horizontal-nav top-nav round" style="display:inline">
                <li><a href="/home" id="home_link">Home</a></li>
                <li><a href="/<%= h current_user.username %>" id="profile_link">Profile</a></li>

                <!--<li><a href="/invitations" id="find_people_link">Find People</a></li>-->
                <li><a href="/account/settings" id="settings_link">Settings</a></li>
                <!--<li><a href="http://help.twitter.com" id="help_link">Help</a></li>-->
                <li class="last">
                    <a id="sign_out_link" href="#" onclick="document.getElementById('sign_out_form').submit(); return false;">Sign
                        out</a></li>

                <form method="post" id="sign_out_form" action="/sessions/destroy" style="display:none;">
                    <input name="authenticity_token" value="42114f58c6f3824dc51197223d6e1fb9b1d184a7" type="hidden"/>
                </form>

            </ul>
        </div>

        </div>
    <% end %>

    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.livequery.js" type="text/javascript"></script>
    <script src="/javascripts/timeline.js" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        twttr.form_authenticity_token = '42114f58c6f3824dc51197223d6e1fb9b1d184a7';
        if (window.top !== window.self) { setTimeout(function(){document.body.innerHTML='';},1);window.self.onload=function(evt){document.body.innerHTML='';};}

        $( function () {
            <% if (flash[:notice]||flash[:error]) %>
                setTimeout(function() { $('#flash').slideUp(); }, 3000);
            <% end %>
        });
        //]]>
       <%= yield :javascript %>
    </script>

</body>

</html>
